html{
    font-family:"Comic Sans MS", cursive, sans-serif;
}
h1{
    color: #595749;
    font-weight: bold;
    text-align: center;
}
.item{
    font-size: large;
}
.pomo{
    font-size: medium;
    color: #292b30;
}
li{
    margin-top: 25px;
 }