html{
    font-family:"Comic Sans MS", cursive, sans-serif;
    background-color: #cca553;
}
h1{
    color: #7f5a0c;
    font-weight: bold;
    text-align: center;
}
span1{
    font-size: large;
}
.pomo{
    font-size: medium;
    color: #292b30;
}
li{
    margin-top: 25px;
 }