html{
    font-family:"Comic Sans MS", cursive, sans-serif;
}
h1{
    color: #595749;
    font-weight: bold;
    text-align: center;
}
.item{
    font-size: large;
}
.pomo{
    font-size: medium;
    color: #292b30;
}

.button{
    background-color: #767d87;
    border: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
}
li{
    margin-top: 25px;
 }
    
