html{
    font-family:"Comic Sans MS", cursive, sans-serif;
    background-color: #cca553;
}
h2{
    color: #7f5a0c;
    font-weight: bold;
    text-align: center;
    background: #dcc289;
    padding: 3px;
    display: block;
    
}